In [10]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('brics.csv' , index_col = 0)

In [3]:
df.head()

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [7]:
d = df['area'] > 8
d

BR     True
RU     True
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [8]:
dx = df[df['area']> 8]
dx

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

In [11]:
new = np.logical_and(df['area']>10 , df['population'] > 100)
df_new = df[new]
df_new

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [13]:
cars = pd.read_csv('cars.csv', index_col = 0)
# Create medium: observations with cars_per_cap between 100 and 500

medium = cars[np.logical_and(cars['cars_per_cap'] > 100 , cars['cars_per_cap'] < 500)]


# Print medium
print(medium)

    cars_per_cap country  drives_right
RU           200  Russia          True