In [1]:
import pandas as pd 
import numpy as np

# some df filtering techniques

In [2]:
df = pd.read_csv('brics.csv' , index_col = 0)

In [3]:
df.head()

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [4]:
d = df['area'] > 8
d

BR     True
RU     True
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [5]:
dx = df[df['area']> 8]
dx

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

In [6]:
new = np.logical_and(df['area']>10 , df['population'] > 100)
df_new = df[new]
df_new

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [7]:
cars = pd.read_csv('cars.csv', index_col = 0)
# Create medium: observations with cars_per_cap between 100 and 500

medium = cars[np.logical_and(cars['cars_per_cap'] > 100 , cars['cars_per_cap'] < 500)]


# Print medium
print(medium)

    cars_per_cap country  drives_right
RU           200  Russia          True

# tips about numpy

### To use these operators with Numpy, you will need np.logical_and(), np.logical_or() and np.logical_not(). Here's an example on the my_house and your_house arrays from before to give you an idea:

In [9]:
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

In [10]:
np.logical_and(my_house > 13, 
               your_house < 15)

array([ True, False, False, False])

In [11]:
print(np.logical_or(my_house> 18.5 , my_house < 10))

[False  True False  True]

In [12]:
# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house> 18.5 , my_house < 10))

# Both my_house and your_house smaller than 11
print(np.logical_and(my_house <11,your_house<11))

[False  True False  True]
[False False False  True]

# while loop