In [18]:
import pandas as pd 
import numpy as np

# some df filtering techniques

In [58]:
df = pd.read_csv('brics.csv' , index_col = 0)

In [59]:
df.head()

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [4]:
d = df['area'] > 8
d

BR     True
RU     True
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [5]:
dx = df[df['area']> 8]
dx

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

In [6]:
new = np.logical_and(df['area']>10 , df['population'] > 100)
df_new = df[new]
df_new

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [7]:
cars = pd.read_csv('cars.csv', index_col = 0)
# Create medium: observations with cars_per_cap between 100 and 500

medium = cars[np.logical_and(cars['cars_per_cap'] > 100 , cars['cars_per_cap'] < 500)]


# Print medium
print(medium)

    cars_per_cap country  drives_right
RU           200  Russia          True

# tips about numpy

### To use these operators with Numpy, you will need np.logical_and(), np.logical_or() and np.logical_not(). Here's an example on the my_house and your_house arrays from before to give you an idea:

In [9]:
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

In [10]:
np.logical_and(my_house > 13, 
               your_house < 15)

array([ True, False, False, False])

In [11]:
print(np.logical_or(my_house> 18.5 , my_house < 10))

[False  True False  True]

In [12]:
# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house> 18.5 , my_house < 10))

# Both my_house and your_house smaller than 11
print(np.logical_and(my_house <11,your_house<11))

[False  True False  True]
[False False False  True]

# For loop

In [1]:
fam = [2.5 , 10.8 , 24.7 , 50.9 , 56.3]
for num in fam:
    print(num)

2.5
10.8
24.7
50.9
56.3

In [4]:
for num in enumerate(fam):
    print(num)

(0, 2.5)
(1, 10.8)
(2, 24.7)
(3, 50.9)
(4, 56.3)

In [3]:
for indx , num in enumerate(fam):
    print(indx , num)

0 2.5
1 10.8
2 24.7
3 50.9
4 56.3

In [5]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Change for loop to use enumerate() and update print()
for a , b in enumerate(areas) :
    print('room '+ str(a) + ':' + str(b))

room 0:11.25
room 1:18.0
room 2:20.0
room 3:10.75
room 4:9.5

In [9]:
for a , b in enumerate(areas):
    print('room '+ str(a )+' equals ' + str(b))

room 0 equals 11.25
room 1 equals 18.0
room 2 equals 20.0
room 3 equals 10.75
room 4 equals 9.5

## For loop over np_height in case of 1D array

In [16]:
# Import numpy as np
import numpy as np
np_height = fam

for num in np_height:
    print(str(num) + ' inches')

2.5 inches
10.8 inches
24.7 inches
50.9 inches
56.3 inches

 ## For loop over np_baseball
  ##  np.nditer() iterates over every single item in the array in case of 2D array

In [15]:


np_baseball = np.array([height , areas])
for x in np.nditer(np_baseball):
    print(x)

2.5
10.8
24.7
50.9
56.3
11.25
18.0
20.0
10.75
9.5

In [21]:
df.head()

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [24]:
for code , row in df.iterrows():
    print( code)
    print(row)

BR
country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN
country           India
capital       New Delhi
area              3.286
population         1252
Name: IN, dtype: object
CH
country         China
capital       Beijing
area            9.597
population       1357
Name: CH, dtype: object
SA
country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

## very important (.iterrows() )

In [27]:

for code , row in df.iterrows():
    print(code)
    print('area is ' + str(row['area']))

BR
area is 8.516
RU
area is 17.1
IN
area is 3.286
CH
area is 9.597000000000001
SA
area is 1.2209999999999999

In [28]:
for code , row in df.iterrows():
    print(code)
    print('it\'s capital is '  + str(row['capital']))

BR
it's capital is Brasilia
RU
it's capital is Moscow
IN
it's capital is New Delhi
CH
it's capital is Beijing
SA
it's capital is Pretoria

## to add a column to a df we can do it with or without a for loop

In [60]:
df['name_len'] = df['country'].apply(len)

In [61]:
df.head()

         country    capital    area  population  name_len
BR        Brazil   Brasilia   8.516      200.40         6
RU        Russia     Moscow  17.100      143.50         6
IN         India  New Delhi   3.286     1252.00         5
CH         China    Beijing   9.597     1357.00         5
SA  South Africa   Pretoria   1.221       52.98        12

## icase of using for loop, you should always use .loc() function

In [64]:
for lab , row in df.iterrows():
    df.loc[lab , 'cap_len'] = str(len(row['capital']))

In [65]:
df.head()

         country    capital    area  population  name_len cap_len
BR        Brazil   Brasilia   8.516      200.40         6       8
RU        Russia     Moscow  17.100      143.50         6       6
IN         India  New Delhi   3.286     1252.00         5       9
CH         China    Beijing   9.597     1357.00         5       7
SA  South Africa   Pretoria   1.221       52.98        12       8

# .apply()  function

In [66]:
df['pop_round'] = df['population'].apply(round)

In [67]:
df.head()

         country    capital    area  population  name_len cap_len  pop_round
BR        Brazil   Brasilia   8.516      200.40         6       8        200
RU        Russia     Moscow  17.100      143.50         6       6        144
IN         India  New Delhi   3.286     1252.00         5       9       1252
CH         China    Beijing   9.597     1357.00         5       7       1357
SA  South Africa   Pretoria   1.221       52.98        12       8         53

In [68]:
# Code for loop that adds COUNTRY column
for lab , row in df.iterrows():
    df.loc[lab , 'COUNTRY'] = row['country'].upper()


# Print cars
df.head()

,country,capital,area,population,name_len,cap_len,pop_round,COUNTRY
BR,Brazil,Brasilia,8.516,200.40,6,8,200,BRAZIL
RU,Russia,Moscow,17.100,143.50,6,6,144,RUSSIA
IN,India,New Delhi,3.286,1252.00,5,9,1252,INDIA
CH,China,Beijing,9.597,1357.00,5,7,1357,CHINA
SA,South Africa,Pretoria,1.221,52.98,12,8,53,SOUTH AFRICA

## Use .apply(str.upper)

In [70]:
   
df['COUNTRY'] = df['country'].apply(str.upper)

df.head()

,country,capital,area,population,name_len,cap_len,pop_round,COUNTRY
BR,Brazil,Brasilia,8.516,200.40,6,8,200,BRAZIL
RU,Russia,Moscow,17.100,143.50,6,6,144,RUSSIA
IN,India,New Delhi,3.286,1252.00,5,9,1252,INDIA
CH,China,Beijing,9.597,1357.00,5,7,1357,CHINA
SA,South Africa,Pretoria,1.221,52.98,12,8,53,SOUTH AFRICA

## Random float

In [77]:
# Import numpy as np
import numpy as np

# Set the seed, so that the results don't change everytime
np.random.seed(123)

# Generate and print random float
print(np.random.rand())
print(np.random.rand())

0.6964691855978616
0.28613933495037946

In [78]:
# but incas no seed is there: the results change everytime
# Generate and print random float
print(np.random.rand())
print(np.random.rand())

0.2268514535642031
0.5513147690828912

## Roll the dice

In [82]:
# Use randint() to simulate a dice, randit() function takes two arguments, the start and the end, and it gets random value between them.
print(np.random.randint(1,7))

# Use randint() again
print(np.random.randint(1,7))

2
2

## Determine your next move
In the Empire State Building bet, your next move depends on the number of eyes you throw with the dice. We can perfectly code this with an if-elif-else construct!

The sample code assumes that you're currently at step 50. Can you fill in the missing pieces to finish the script? numpy is already imported as np and the seed has been set to 123, so you don't have to worry about that anymore.

In [94]:
# Starting step
step = 50

# Roll the dice

dice = np.random.randint(1 , 7)
# Finish the control construct
if dice <= 2 :
    step = step - 1
elif dice >= 3 and dice <=5 :
    step= step + 1
    
else :
    step = step + np.random.randint(1,7)

# Print out dice and step
print(dice)
print(step)

5
51